@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
:root {
  --Softorange: hsl(35, 77%, 62%);
  --Softred: hsl(5, 85%, 63%);
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  width: 100%;
}

p {
  line-height: 1.8;
  color: var(--Dark-grayish-blue);
}

ul {
  list-style: none;
}

html {
  font-size: 15px;
}

body {
  font-family: "Inter", sans-serif;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
}

.header nav {
  opacity: 0;
  z-index: -999;
  transition: all 0.3s ease-in-out;
}

.header nav.open {
  background-color: var(--Off-white);
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 75vw;
  padding: 1.25rem;
  opacity: 1;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  z-index: 999999999;
}

.header nav ul {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.header nav ul li {
  margin: 1rem 0;
  font-size: 1.5rem;
  cursor: pointer;
}

.header nav ul li:hover {
  color: var(--Softred);
}

.header .menu button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

#menu-close {
  background: transparent;
  border: none;
  outline: none;
  position: absolute;
  right: 1.25rem;
  top: 1.25rem;
  z-index: 9999;
  cursor: pointer;
}

.showcase {
  padding: 1.25rem;
  padding-top: 0;
}

.showcase h1 {
  font-size: 2rem;
  font-weight: 800;
  color: var(--Very-dark-blue);
  margin: 1rem 0;
}

.showcase div:first-child article:first-child p {
  margin-bottom: 1rem;
}

.btn {
  background-color: var(--Softred);
  color: #fff;
  padding: 0.8rem 2rem;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0.7rem;
  letter-spacing: 0.2rem;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: var(--Very-dark-blue);
  cursor: pointer;
}

.showcase > div:last-child {
  background-color: var(--Very-dark-blue);
  margin-top: 2rem;
  padding: 1.25rem 1.25rem 0;
}

.showcase > div:last-child article:not(:last-child) {
  border-bottom: 1px solid var(--Dark-grayish-blue);
}

.showcase > div:last-child article {
  padding: 1.25rem 0;
}

.showcase > div:last-child h2 {
  color: var(--Softorange);
}

.showcase > div:last-child h3 {
  color: var(--Off-white);
  margin-bottom: 0.5rem;
}

.showcase > div:last-child h3:hover {
  color: var(--Softorange);
  cursor: pointer;
}

.game-cards {
  padding: 1.25rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2.5rem;
}

.game-cards article {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.game-cards img {
  width: 150px;
}

.game-cards span {
  color: var(--Grayish-blue);
  font-weight: bold;
  font-style: 2rem;
  opacity: 75%;
}

.game-cards h4 {
  font-size: 1.25;
  color: var(--Dark-grayish-blue);
  margin: 1rem 0;
}

@media (min-width: 768px) {
  .game-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
  }
  .header .menu button {
    display: none;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 2rem 1.2rem;
  }
  .header nav {
    opacity: 1;
    z-index: auto;
    width: 100%;
  }
  .header nav.open {
    position: relative;
    width: auto;
    background-color: transparent;
    padding: 0;
    z-index: auto;
  }
  .header nav #menu-close {
    display: none;
  }
  .header nav ul {
    position: relative;
    top: 0;
    transform: translateY(0%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
  }
  .header .menu button {
    display: none;
  }
  .header nav ul li {
    margin: 0;
  }
  .showcase {
    display: flex;
    gap: 2rem;
  }
  .showcase h1 {
    font-size: 3rem;
  }
  .showcase .div:first-child article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    place-items: center;
    margin-top: 2rem;
  }
  .showcase > div:last-child {
    margin-top: 0;
  }
  .game-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
